.project {
  width: 450px;
  height: 500px;
  // margin-top: 
  margin: 0px 18px 35px 18px;
  border: .5px solid #DCDCDC;
  padding: 10px;
  p {
    margin-top: 6px;
    margin-bottom: 0px;
  }
}

.project-image {
  width: 450px;
  transition: transform .5s ease;
}

.project-image:hover {
  transform: scale(1.7);
  transition: transform 2s ease .2s;
}

.project-title {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 20px;
}

.tech-stack {
  margin-top: 4px;
  height: 40px;
}

.project-subhead {
  font-weight: 600;
}

.project-details {
  margin-left: 15px;
}

.project-specifics {
  position: relative;
  bottom: -20px;
  
  p {
    margin-bottom: 10px;
  }
}