.project {
  width: 450px;
  height: 500px;
  margin: 35px 35px;;
  border: .5px solid #DCDCDC;
  padding: 10px;
  // flex: 0 50%;
  p {
    margin-top: 6px;
    margin-bottom: 0px;
  }
}

.project-details {
  margin-left: 15px;
}

// .project:hover {
//   transform: scale(1.5);
//   background-color: #FFFFFF;
//   border: 1px solid #000000;
//   cursor: pointer;
// }

.project-image {
  width: 450px;
}

.project-image:hover {
  transform: scale(1.7);

}

.project-title {
  font-weight: 700;
  margin-bottom: 0px;
  font-size: 20px;
}

.tech-stack {
  margin-top: 4px;
}

.project-subhead {
  font-weight: 600;
}