@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,600,700,900|Ultra&display=swap');

body {
  margin: 0px;
  font-family: 'Titillium Web', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  opacity: .85;
  
  .social-section {
    margin: auto 20px;
  }
  
  .social-icon {
    height: 20px;
  }
}

h2 {
  font-size: 50px;
}

ul {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  padding-left: 15px;
}

li {
  // margin: 15px;
  list-style: none;
  margin: auto 15px;
}

li:hover {
  transform: scale(1.15);
  // color: #FFFFFF;
  // background-color: #000000;
  // padding: 20px;
  // margin: 0px;
  cursor: pointer;
}

.chevron {
  height: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// .social-links {
//   margin-right: 25px;
// }

footer {
  height: 400px;
  background: url(images/stephen-walker-1160866-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 125px;
}

.copyright-section {
  color: #FFFFFF;
  text-align: center;
  position: relative;
  top: 360px;
}