.about-section {
  margin-top: 75px;
}

h2 {
  text-align: center;
}

.about-details {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-left: 100px;
  padding-right: 100px;
}

.about-text {
  margin-top: 0px;
}

.headshot {
  height: 150px;
  margin-right: 60px;
  border-radius: 150px;
}

.about-columns {
  display: flex;
  justify-content: space-between;
  padding: 0px 100px;

  article {
    margin: 25px 45px;
  }
}

.about-tech-stack {
  width: 250px;
  font-weight: 200;

  dl {
    margin-left: 10px;
  }
}

dd {
  margin-left: 10px;
}

.about-education {

  p {
    margin-left: 10px;
  }

}

.about-experience {
  
  p {
    margin-left: 10px;
  }
}

.header {
  font-weight: $header;
  margin-bottom: 0px;
}

.subhead {
  font-weight: 200;
  margin: 0px;
}

.job-details {
  font-weight: 200;
}